.grid {
    display: grid;
    border: 3px solid orange;
    /* grid-template-columns: repeat(2, 1fr) repeat(6, 2fr); */
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: repeat(2, 10% 20% 30%);
}

.grid-1 {
    background-color: rgb(128, 128, 128);
}
.grid-2 {
    background-color: rgb(216, 29, 29);
}
.grid-3 {
    background-color: rgb(103, 214, 39);
}
.grid-4 {
    background-color: rgb(38, 91, 204);
}
.grid-5 {
    background-color: rgb(203, 40, 209);
}